html {
  background-color: #fdf6e3;
  font-family: Georgia, serif;
  line-height: 1.5;
}

.logo {
  text-transform: uppercase;
}

nav {
font-family: sans-serif;
}
header{
  font-size: 1.5rem;
}

body {
background-color: #fdf6e3;
}

.wrapper {
background-color: #eee8d5;
}

.dfn{
  background-color: #b58900;
}
strong{
  color: #fff;
}
.contents {
  color: #93a1a1;
}
.favs{
  color: #93a1a1;
}
.facts{
  color: #93a1a1;
}
.types{
  color: #93a1a1;
}



footer {
font-size: 1.5rem;
}
