/* 1*/

html {
  background-color: #fdf6e3;
  font-family: Georgia, serif;
  line-height: 1.5;
}
/*2*/
.header{
  font-size: 1.5rem;
}
.footer {
  font-size: 1.5rem;
}
/*3*/
nav ul {
  font-family: sans-serif;
}
/*4*/
.logo {
  text-transform: uppercase;
}
/*5*/
.wrapper{
 background-color: #eee8d5;
}
/*6*/
h2 .contents .favs .facts .types {
  color: #93a1a1;
}
/*7 How Do I select on id facts only */
main .dfn p{
  background-color: #b58900;
}
/*8*/

.dfn p + strong{
  color: #fff;
}
/*9*/
header ul li:nth-child(1){
    background-color: #719e07
}
header ul li:nth-child(3){
    background-color: #719e07
}
header ul li:nth-child(4){
    background-color: #719e07
}

/*10*/
li:nth-child(3){
  background-color: #2694d8;
}
/*11*/

ol li:nth-child(1){
   color: #719e47;
  }

/*12*/
ol li:nth-child(3){
  color: #2aa198;
}

/*13 14 15*/
.types li:nth-child(odd) {
background-color:#657ba3;
}
.types li:nth-child(even){
  background-color:#586e75;
}
.types li:nth-child(){
background-color:##d04b16;
}
